* {
	padding: 0;
}

body {
	background-image: url("https://user-images.githubusercontent.com/68339200/87564740-6eed6800-c6c9-11ea-82d0-79b16f596b02.png");
}

.header {
	margin-left: 3px;
	width: 99.5%;
	background-color: #778899;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 40;
}

.header__logo {
	margin-left: 40px;
	font-size: 30px;
	font-weight: 700;
	color: #D3D3D3;
}

.menu {
	margin-right: 40px;
}

.menu * {
	padding: 0;
}

.menu ul {
	list-style: none;
}

.menu > ul {
	display: flex;
	justify-content: center;
}

.menu > ul li a {
	display: block;
	font-size: 16px;
	color: #D3D3D3;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.3s ease;
}

.menu li a:hover {
	background: #778899;
	color: #ffffff;
	transition: all 0.3s ease;
}

.menu li ul {
	position: absolute;
	min-width: 150px;
	display: none;
}

.menu li > ul li {
	border: 1px solid black;
}

.menu li > ul li a {
	padding: 15px;
	font-size: 16px;
	text-transform: none;
	background: gray;
}

.menu li:hover > ul {
	display: block;
}

.marg {
	margin: 0 10px;
}

.white__text {
	color: white;
}

aside {
	padding: 1px;
	width: 1304;
	float: right;
}

article {
	width: 285px;
	height: 600px;
	margin-left: 15px;
	display: block;
}