* {
	padding: 0;
}

body {
	background-image: url("https://user-images.githubusercontent.com/68339200/87564740-6eed6800-c6c9-11ea-82d0-79b16f596b02.png");
}

.header {
	margin-left: -3px;
	position: fixed;
	width: 99.5%;
	background-color: #778899;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 40;
	margin-top: -90px;
}

.header__logo {
	margin-left: 40px;
	font-size: 30px;
	font-weight: 700;
	color: #D3D3D3;
}

.white__text {
	color: white;
}

.menu {
	margin-right: 40px;
}

.menu * {
	padding: 0;
}

.menu ul {
	list-style: none;
}

.menu > ul {
	display: flex;
	justify-content: center;
}

.menu > ul li a {
	display: block;
	font-size: 14px;
	color: #D3D3D3;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.3s ease;
}

.menu li a:hover {
	background: #454547;
	color: #ffffff;
	transition: all 0.3s ease;
}

.menu li ul {
	position: absolute;
	min-width: 150px;
	display: none;
}

.menu li > ul li {
	border: 1px solid black;
}

.menu li > ul li a {
	padding: 10px;
	text-transform: none;
	background: gray;
}

.menu li:hover > ul {
	display: block;
}

.marg {
	margin: 0 10px;
}

.nav {
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
}

.nav__link {
	display: inline-block;
	vertical-align: top;
	color: #D3D3D3;
	text-decoration: none;
	transition: color 0.2s linear;
	margin: 0 10px;
	position: relative;
}

.nav__link:after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	display: none;
	background-color: #1E90FF;
	position: absolute;
	top: 100%
	left: 0;
	z-index: 1;
}

.nav__link:hover {
	color: #1E90FF;
}

.nav__link:hover:after {
	display: block;
}

.skatepark {
	background-image: url("https://user-images.githubusercontent.com/68339200/87564913-a22ff700-c6c9-11ea-9470-cc4bd70225b1.jpg");
	min-height: 615px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.ride {
	background-image: url("https://user-images.githubusercontent.com/68339200/87564864-98a68f00-c6c9-11ea-9420-e5b772df6535.jpg");
	min-height: 615px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bs180 {
	background-image: url("https://user-images.githubusercontent.com/68339200/87564907-a1976080-c6c9-11ea-8fab-98a207c7765c.jpg");
	min-height: 615px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.popsh {
	background-image: url("https://user-images.githubusercontent.com/68339200/87564903-a0feca00-c6c9-11ea-8dfc-70fb73eefccb.jpg");
	min-height: 615px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.kick {
	background-image: url("https://user-images.githubusercontent.com/68339200/87564885-9e9c7000-c6c9-11ea-8f98-a78890f11a34.jpg");
	min-height: 615px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.ride2 {
	background-image: url("https://user-images.githubusercontent.com/68339200/87564908-a1976080-c6c9-11ea-9add-13de2b01ae7c.jpg");
	min-height: 615px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
